
body{
	width:100% ;
	height: 100%;
	font-family:微軟正黑體, sans-serif,Arial  ;
	font-size: 16px;
	margin: 0;
}

#wrapper{
	min-height: 100%;
	margin-bottom: -50px;

}

#banner{
	width: 100%;
	height: 83px;
}

#ad{
	width: 100%;
	height: 200px;
}

#ad img{
	width: 100%;
	height:200px;
}



#footer{
	clear: both;
	height: 50px;
	background-color: #006b93;
	color: #ffffff;

}

#footer span{
	color: #ffffff;
	width: 50%;
	margin-left: 30%;
	line-height: 50px;
}

#logo{
	width: 201px;
	height: 44px;
	background: url('../images/logo.png') no-repeat;
	background-size:cover;
	background-size: 100% 100%;
	float: left;
	margin-left:50px ;
	margin-top: 30px;
}


#menu{
	float: left;
	width: 70%;
	margin-top: 30px;
}

#menu li{
	float: left;
	list-style: none;
	padding-left: 1em;
	padding-right: 1em;
}

#menu ul{

}

.menutxt{
	font-weight: 800;
	color: rgb(0,110,147);
}

.logintxt{
    font-weight: 800;
    color: rgb(0,0,255);
}

li:hover{
    color:#DC143C;
}

#menu a{
	text-decoration: none;
}

#content{
    height:100%;

}

#content a {
    text-decoration:none;
    color:#000000;
}

