<html>
<head>
	<meta charset="utf-8">
	<title>
		{% block pageTitle %}
		{% endblock %}
	</title>

	<link href="/static/css/BasePage.css" rel="stylesheet">

	{% block css %}
	{% endblock %}

	{% block js %}
	{% endblock %}

</head>
<body>
	<div id="wrapper">

		<div id="banner">

			<a href="/"><div id="logo"></div></a>
			<div id="menu">
				<ul class="bannermenu">
					<a href="/resume"><li class="menutxt">關於我</li></a>
					<a href="/register"><li class="menutxt">掛號系統</li></a>
					<a href="/product"><li class="menutxt">產品服務</li></a>
					<a href="/message"><li class="menutxt">業務連絡</li></a>
					<a href="/performance"><li class="menutxt">公司績效</li></a>
					{% if request.session.isAlive %}

						<a href="/member"><li class="menutxt">會員管理</li></a>
						<a href="/myorder"><li class="menutxt">我的訂單</li></a>
						<a href="/logout"><li class="menutxt">登出</li></a>

					{% else %}
						<a href="/login"><li class="menutxt">會員登入</li></a>
					{% endif %}
				</ul>
			</div>

		</div>

		<div id="ad">
			<img src="/static/images/logo5.png" style="height:160px;">
		</div>

		<div id="content">
		{% block mainContent %}
		<h1 id="welcome"> Hello! </h1>
		<script>
		var nickname = prompt("請問是誰在瀏覽 ","Visitor");
			if (nickname != null) {
			  document.getElementById("welcome").innerText =
			  "Hello, " + nickname + "!";
			}
		</script>
		{% endblock %}

		</div>

	</div>

	<div id="footer">
		<span>COPYRIGHT ©2022 WATSON DESGIN.  ALL RIGHTS RESERVED.</span>
	</div>

</body>
</html>