{% extends "BasePage.html" %}

{% block pageTitle %}
掛號
{% endblock %}

{% block css %}
{% endblock %}

{% block mainContent %}
    <span style="align:center;">{{msg}}</span>
    {% for i in id %}
        <span>你的病歷號是: {{i.id}}</span>
    {% endfor %}
    <form action="" method="post" >
          {% csrf_token %}
          <table class="register_form" border="1px solid" cellpadding="0" cellspacing="0" align="center">
              <tr>
                  <td><label>姓名</label></td>
                  <td><input type="text" name="name" value="" placeholder="請輸入" required></td>
              </tr>
              <tr>
                  <td><label>身分證號碼</label></td>
                  <td><input type="text" name="Idnumber" value="" placeholder="請輸入" required></td>
              </tr>
              <tr>
                  <td><label>出生日期</label></td>
                  <td><input type="date" name="birthday" value="" placeholder="請輸入" required></td>
              </tr>
              <tr>
                  <td><label>性別</label></td>
                  <td>
                      <input type="radio" name="sex" value="F" checked />女生
                      <input type="radio" name="sex" value="M" />男生
                  </td>
              </tr>
              <tr>
                  <td><label>身分類別</label></td>
                  <td>
                      <select name="Identity">
                          <option>一般</option>
                          <option>重大傷殘</option>
                          <option>優惠</option>
                          <option>榮民</option>
                      </select>
                  </td>
              </tr>
              <tr>
                  <td><label>連絡電話</label></td>
                  <td><input type="tel" name="tel" placeholder="請輸入電話" required></td>
              </tr>
              <tr>
                  <td><label>地址</label></td>
                  <td><input type="text" name="address" placeholder="請輸入地址" required></td>
              </tr>
              <tr>
                  <td colspan="2" align="center">
                      <input type="submit" value="完成" onclick="getnumber()">
                  </td>
              </tr>
          </table>
    </form>

{% endblock %}
